@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

main {
  min-height: 80vh;
  background-color: #faeddf;
}
