.bg-color {
  background-color: #faeddf;
}

.cart {
  padding: 150px 200px;
}

.checkout-group {
  width: 400px;
  background-color: #faeddf;
}

.checkout-btn {
  width: 365px;
  height: 45px;
  margin: 20px 0 21px;
  background-color: #0e5540;
  color: #faeddf;
  padding: 10px 20px;
  font-weight: 600;
}

.checkout-btn:hover {
  border: 2px solid #0e5540;
}
