.book-detail {
  background-color: #faeddf;
  margin-bottom: 100px;
}

.bg-color {
  background: #faeddf;
}

.book-detail .back-btn {
  width: 140px;
  height: 45px;
  margin-bottom: 21px;
  background-color: #0e5540;
  color: #faeddf;
  padding: 10px 20px;
  font-weight: 600;
}

.book-detail .back-btn:hover {
  color: #0e5540;
  background-color: #faeddf;
  border: 2px solid #0e5540;
}

.book-item {
  margin: 50px 50px 100px;
}

.book-item select {
  display: inline;
  width: 100px;
}

.btn-add-to-cart {
  padding: 4px 4px;
  background-color: #0e5540;
  width: 100%;
  height: 45px;
  margin-top: 9px;
  border-radius: 7px;
  color: #faeddf;
  text-align: center;
  font-weight: 600;
}

.btn-add-to-cart:hover {
  border: 2px solid #0e5540;
}

.btn-review-submit {
  width: 100%;
  height: 45px;
  background-color: #0e5540;
  color: #faeddf;
  margin-top: 20px;
  font-weight: 600;
}

.btn-review-submit:hover {
  border: 2px solid #0e5540;
}
